<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>S-Mart Get</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/appleLogo_worm.png') }}" />
        <!-- Core theme CSS-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">S-Mart Get</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">User</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <img 
                src="{{ url_for('static', filename='assets/appleLogo_worm.png') }}" 
                style="width:128px; height:128px;align-items: center;"/>
            </div>

            <div class="text-center">
                <h2>Preferences</h2>
                <p>Your most common categories are:</p>
                <div class="card shadow-sm h-100">
                            <div class="card-body text-center">
                                <p>1. Health</p>
                            </div>
                </div>

                <div class="card shadow-sm h-100">
                            <div class="card-body text-center">
                                <p>2. Sustainability</p>
                            </div>
                </div>

                <div class="card shadow-sm h-100">
                            <div class="card-body text-center">
                                <p>3. Local</p>
                            </div>
                </div>
            </div>

        </div>

        <div class="text-center">
                <h2>Recent Searches</h2>
                <p>Your most recent searches:</p>
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">🏆 Royal Gala Apples</h5>
                        <h2 class="text-success fw-bold">$3.50</h2>
                        <p class="text-muted small">per unit: NA</p>
                        <p><strong>Health:</strong> 8/10</p>
                        <p><strong>Sustainability:</strong> 8/10</p>
                        <p class="small text-muted">Royal Gala Apples are the most cost-effective option at Woolworths with a good balance of sustainability and health benefits, making them an excellent choice for budget-conscious customers.</p>
                    </div>
                </div>

                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">🏆 Chunky Tuna</h5>
                        <h2 class="text-success fw-bold">$2.50</h2>
                        <p class="text-muted small">per unit: $1.60</p>
                        <p><strong>Health:</strong> 9/10</p>
                        <p><strong>Sustainability:</strong> 7/10</p>
                        <p class="small text-muted">This product is made from sustainably sourced tuna and packaged in recyclable materials, reflecting Woolworths' commitment to environmental responsibility</p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
